In [ ]:
# Import SQLAlchemy and other dependencies here
import sqlalchemy
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, func
from sqlalchemy import Column, Float, Integer, String, Date
from sqlalchemy.ext.declarative import declarative_base
import pandas as pd
from config import user, password 
from matplotlib import pyplot as plt
import numpy as np

In [ ]:
# Import the SQL database into Pandas. 
engine = create_engine(f'postgresql://{user}:{password}@localhost:5432/SQL-Challenge')
connection = engine.connect()

In [ ]:
# Get salary data
salaries = pd.read_sql("SELECT * FROM salaries", connection)

In [ ]:
# Histogram of salary ranges
plt.hist(salaries['salary'], bins=8)
plt.ylabel('Number of employees')
plt.xlabel('Salary')
plt.title('Distribution of salaries')

In [ ]:
# Get Title information after creating new engine/connection
engine = create_engine(f'postgresql://{user}:{password}@localhost:5432/employee_hw')
connection = engine.connect()

titles = pd.read_sql("SELECT * FROM titles", connection)

In [ ]:
# Merge datasets & cleanup
df = pd.merge(salaries, titles, on='emp_no', how='inner')
df.set_index('emp_no', inplace=True)
df.drop(columns=['from_date_x', 'to_date_x', 'from_date_y', 'to_date_y'], inplace=True)

In [ ]:
# Create a bar chart of average salary by title.
# Get salary means using groupby
avg_sal_title = df.groupby('title')['salary'].mean()

In [ ]:
# Create bar chart
avg_sal_title.plot(x='title', kind='bar', alpha=0.5, color='blue')
plt.xticks(rotation=90)
plt.ylabel("Salary")
plt.xlabel("Job Title")
plt.title("Average Salary By Position")